@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #7B8C83;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #2D3B36 ;
    color: #F4F4F0;
    margin-bottom: 3em;
}

nav > ul {
    display: flex;
}

li {
    padding:0 1em;
}

main {
    display:flex;
    flex-direction: column;
    height: 100vh;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    
}

section > * {
    padding:2em;
}

.welcomeInner, .project  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width:80%;
    padding: 2em;
    margin:auto;
    background-color: #BBA16E;
    border: 1em solid #F4F4F0;
}

.projectsContainer {
    display: flex;
}

.project {
    width:30%;
}

.project > h2, img {
    font-weight: bolder;
    padding:0 0 1em;
}

.quote {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

p {
    margin: 0 auto;
}

.bottomBorder {
    margin:auto;
    width:60%;
    border-bottom: 1px solid black;
}

